

.titleBox{
    background-color: #8B4513;
    color:white;
    text-align: center;
}

h2{
    font-size: 42px;
    font-weight:  bold;

}

.panel-heading{
    font-weight: bold;
}

.input-group{
    font-weight: bold;
    width: 100%;
    margin-bottom: 18px;
}

.table>tbody>tr>td{
    border-top: 0px solid white;
    border-bottom: 1px solid #ddd;
}